# Imports and Filter Definitions

In [1]:
import pandas as pd
import numpy as np
import requests
from pprint import pprint

In [2]:
accepted_codes = ['910','911','912','913','914','915','916','917','918','919','920','921','922', \
                  '923','924','925','926','927','928','929','970','971','972','973','974','975']

def filter_luc(dataframe):
    """filters by land use codes affiliated with MA state agencies
    """
    return dataframe[dataframe['luc_1'].isin(accepted_codes) | \
            dataframe['luc_2'].isin(accepted_codes) | \
            dataframe['luc_adj_1'].isin(accepted_codes)| \
            dataframe['luc_adj_2'].isin(accepted_codes)]

def filter_poly_typ(dataframe):
    # filter out data only with poly_typ equal to FEE or TAX, returns pandas dataframe
    accepted_codes = ['FEE', 'TAX']
    return dataframe[dataframe['poly_typ'].isin(accepted_codes)]

def filter_bldg(dataframe):
    '''
    Filter on related columns that indicate whether building(s) are present on the land parcel.
    Removes rows that correspond to land parcels that do not contain buildings.
    Ziba specified: 
        bldg_value - for condos, generally includes land value
        bldg_area - may include garages, stairwells, basements, and other uninhabitable areas.
        bldgv_psf - building value $ per sq foot
    Additional: 
        sqm_bldg - parcel area estimated to be covered by a building (sq meters)
        pct_bldg - % parcel area estimated to be covered by a building 
    '''
    
    return dataframe.query('bldg_value > 0 | \
                           bldg_area > 0 | \
                           bldgv_psf > 0 | \
                           sqm_bldg > 0 | \
                           pct_bldg > 0')

# Test single request

In [92]:
# test single address request

URL = "https://geocoding.geo.census.gov/geocoder/geographies/address?street=4600+Silver+Hill+Rd&" + \
    "city=Suitland&state=MD&benchmark=Public_AR_Census2010&vintage=Census2010_Census2010&layer" + \
    "s=14&format=json"
  
r = requests.get(url = URL)

data = r.json()

print(data)

{'result': {'input': {'benchmark': {'id': '9', 'benchmarkName': 'Public_AR_Census2010', 'benchmarkDescription': 'Public Address Ranges - Census 2010 Benchmark', 'isDefault': False}, 'vintage': {'id': '910', 'vintageName': 'Census2010_Census2010', 'vintageDescription': 'Census2010 Vintage - Census2010 Benchmark', 'isDefault': True}, 'address': {'street': '4600 Silver Hill Rd', 'city': 'Suitland', 'state': 'MD'}}, 'addressMatches': [{'matchedAddress': '4600 Silver Hill Rd, SUITLAND, MD, 20746', 'coordinates': {'x': -76.92691, 'y': 38.846542}, 'tigerLine': {'tigerLineId': '613199520', 'side': 'L'}, 'addressComponents': {'fromAddress': '4600', 'toAddress': '4712', 'preQualifier': '', 'preDirection': '', 'preType': '', 'streetName': 'Silver Hill', 'suffixType': 'Rd', 'suffixDirection': '', 'suffixQualifier': '', 'city': 'SUITLAND', 'state': 'MD', 'zip': '20746'}, 'geographies': {'Census Blocks': [{'SUFFIX': '', 'POP100': 0, 'GEOID': '240338024051084', 'CENTLAT': '+38.8477828', 'BLOCK': '1084', 'AREAWATER': 0, 'STATE': '24', 'BASENAME': '1084', 'OID': 210403970691471, 'LSADC': 'BK', 'FUNCSTAT': 'S', 'INTPTLAT': '+38.8477828', 'NAME': 'Block 1084', 'OBJECTID': 4385889, 'TRACT': '802405', 'CENTLON': '-076.9266698', 'BLKGRP': '1', 'AREALAND': 33460, 'HU100': 0, 'INTPTLON': '-076.9266698', 'MTFCC': 'G5040', 'LWBLKTYP': 'L', 'UR': '', 'COUNTY': '033'}]}}]}}

In [139]:
# test single address request

URL = "https://geocoding.geo.census.gov/geocoder/geographies/address?street=4600+Silver+Hill+Rd&" + \
    "&state=MD&benchmark=Public_AR_Census2010&vintage=Census2010_Census2010&layer" + \
    "s=14&format=json"
  
r = requests.get(url = URL)

data = r.json()

print(data)

{'errors': ['Specify street with city and state or zip']}

In [99]:
pprint(data)

{'result': {'addressMatches': [{'addressComponents': {'city': 'SUITLAND',
                                                      'fromAddress': '4600',
                                                      'preDirection': '',
                                                      'preQualifier': '',
                                                      'preType': '',
                                                      'state': 'MD',
                                                      'streetName': 'Silver '
                                                                    'Hill',
                                                      'suffixDirection': '',
                                                      'suffixQualifier': '',
                                                      'suffixType': 'Rd',
                                                      'toAddress': '4712',
                                                      'zip': '20746'},
                                'coordinates': {'x': -76.92691, 'y': 38.846542},
                                'geographies': {'Census Blocks': [{'AREALAND': 33460,
                                                                   'AREAWATER': 0,
                                                                   'BASENAME': '1084',
                                                                   'BLKGRP': '1',
                                                                   'BLOCK': '1084',
                                                                   'CENTLAT': '+38.8477828',
                                                                   'CENTLON': '-076.9266698',
                                                                   'COUNTY': '033',
                                                                   'FUNCSTAT': 'S',
                                                                   'GEOID': '240338024051084',
                                                                   'HU100': 0,
                                                                   'INTPTLAT': '+38.8477828',
                                                                   'INTPTLON': '-076.9266698',
                                                                   'LSADC': 'BK',
                                                                   'LWBLKTYP': 'L',
                                                                   'MTFCC': 'G5040',
                                                                   'NAME': 'Block '
                                                                           '1084',
                                                                   'OBJECTID': 4385889,
                                                                   'OID': 210403970691471,
                                                                   'POP100': 0,
                                                                   'STATE': '24',
                                                                   'SUFFIX': '',
                                                                   'TRACT': '802405',
                                                                   'UR': ''}]},
                                'matchedAddress': '4600 Silver Hill Rd, '
                                                  'SUITLAND, MD, 20746',
                                'tigerLine': {'side': 'L',
                                              'tigerLineId': '613199520'}}],
            'input': {'address': {'city': 'Suitland',
                                  'state': 'MD',
                                  'street': '4600 Silver Hill Rd'},
                      'benchmark': {'benchmarkDescription': 'Public Address '
                                                            'Ranges - Census '
                                                            '2010 Benchmark',
                                    'benchmarkName': 'Public_AR_Census2010',
                                    'id': '9',
                                    'isDefault': False},
                      'vintage': {'id': '910',
                                  'isDefault': True,
                                  'vintageDescription': 'Census2010 Vintage - '
                                                        'Census2010 Benchmark',
                                  'vintageName': 'Census2010_Census2010'}}}}

In [116]:
tract = data['result']['addressMatches'][0]['geographies']['Census Blocks'][0]['TRACT']
print(tract)

802405

# Single Request Function Definition

In [126]:
# test clean-up of street address
addr_str = ' oak maplewood road '

street_split = addr_str.split()
addr_str_formatted = ''
# remove extra white spaces
for i in range(len(street_split)):
    if (not street_split[i].isspace()):
        addr_str_formatted = addr_str_formatted + street_split[i]
        
        if (i != len(street_split)-1):
            addr_str_formatted = addr_str_formatted + '+'
        
print('\\' + addr_str_formatted + '\\')

\oak+maplewood+road\

In [3]:
def get_tract_number(addr_num, addr_str, addr_zip=None):
    '''
        Makes a REST API request to Census Geocoder API and returns a tract number for a given address.
        Inputs:
            - addr_num = street number, can be a range of street numbers, e.g. 200-400
            - addr_str = street name
            - addr_zip = zip code
        Note: addr_num, addr_str, and addr_zip are all required fields! If any are unavailable, then the request fails.
            This is despite the API documentation stating that zip code is an optional field.
    '''
    # remove any extra white space in the addr_num field
    addr_num = str(addr_num).replace(" ", "")
    addr_str = addr_str.replace('#', "")
    
    # join separate words in street name with '+'
    street_split = addr_str.split()
    addr_str_formatted = ''
    # remove extra white spaces
    for i in range(len(street_split)):
        if (not street_split[i].isspace()):
            addr_str_formatted = addr_str_formatted + street_split[i]

            if (i != len(street_split)-1):
                addr_str_formatted = addr_str_formatted + '+'
    
    URL = "https://geocoding.geo.census.gov/geocoder/geographies/address?street=" + addr_num + "+" \
        + addr_str_formatted
    
    if (addr_zip is not None and addr_zip):
        URL = URL + "&zip=" + str(addr_zip).replace(" ", "")
    
    URL = URL + "&benchmark=Public_AR_Census2010&vintage=Census2010_Census2010" + \
        "&layers=14&format=json"

    response = requests.get(url = URL)
    tract = np.nan
    
    if (response.status_code == 200):
        data = response.json()
        # pprint(data)
        if (len(data['result']['addressMatches']) > 0):
            # if data['result']['addressMatches'][0]['geographies']['Census Blocks'][0]['TRACT']:
            tract = data['result']['addressMatches'][0]['geographies']['Census Blocks'][0]['TRACT']
    
    return tract

In [237]:
# test function

print(get_tract_number(200, 'falls blvd', '02169 '))
print(get_tract_number('200', 'falls blvd ', '02169'))
print(get_tract_number('200-400', 'falls blvd', '02169'))

418002
418002
418002

# Batch Request Code & Testing Below (unsuccessful)

In [4]:
def get_geocode_info(dataframe):
    '''
    Makes a batch GET request to Census Geocoder API.
    Dataframe must include street address.
    Optional fields: City, State, ZIP
    '''
    
    def format_csv(dataframe):
        '''
        Helper function that takes pandas dataframe list of addresses and converts it to appropriate csv format
        necessary for REST API request.

        Format columns as following:
        Unique ID, Street address, City, State, ZIP
        where City, State, ZIP are optional fields but file must contain a placeholder comma if left blank.
        '''

        # land parcel data only has addr_num, addr_str, and addr_zip fields
        df = land_parcel_df[['addr_num', 'addr_str', 'addr_zip']]

        # copy over indices to be unique id column
        df['Unique ID'] = dataframe.index

        # drop rows where addr_num or addr_str are null
        df.dropna(subset=['addr_num', 'addr_str'], inplace=True)

        # concatenate addr_num and addr_str into single column
        df['Street address'] = df['addr_num'].astype(str) + ' ' + df['addr_str']

        # add empty columns for city and state, so that csv file is correctly formatted with commas for blanks
        df['City'] = ''
        df['State'] = ''
        df['ZIP'] = df['addr_zip']

        # replace nans in ZIP with blanks
        df[df['addr_zip'].isnull()] = ''

        df.drop(columns=['addr_num', 'addr_str', 'addr_zip'])

        df = df[['Unique ID', 'Street address', 'City', 'State', 'ZIP']]

        # drop rows that are completely blank
        df.dropna(how='all')

        df.to_csv('geocode_format.csv', index=False, header=False)
    
    # creates formatted csv file that gets saved to current directory as 'geocode_format.csv'
    format_csv(dataframe)
    csv_file = open('geocode_format.csv', 'r')
    
    # geographies contains the State, County, Tract, and Block layers by default
    returntype = 'geographies' # locations (just geocoding response) or geographies (geocoding response + geoLookup)
    BATCH_GEOCODE_URL = "https://geocoding.geo.census.gov/geocoder/" + returntype + "/addressbatch"

    PARAMS = {'returntype': returntype, \
              'benchmark': 'Public_AR_Census2010', \
              'vintage': 'Census2010_Census2010', \
             'addressFile': csv_file} 
    
    r = requests.get(url = URL, params = PARAMS)

    output_csv = open('geocode_result.csv', 'w')
    output_csv.write(r.text)
    output_csv.close()

In [80]:
import httplib2

h = httplib2.Http()

csv_file = open('test.csv')

# geographies contains the State, County, Tract, and Block layers by default
returntype = 'geographies' # locations (just geocoding response) or geographies (geocoding response + geoLookup)
BATCH_GEOCODE_URL = "https://geocoding.geo.census.gov/geocoder/" + returntype + "/addressbatch"

PARAMS = {'benchmark': 'Public_AR_Census2010', \
            'vintage': 'Census2010_Census2010'} 

resp, content = h.request(BATCH_GEOCODE_URL, \
                          method="GET", \
                          body = csv_file, \
                          headers = PARAMS)

print(resp.status)
print(resp.reason)

400
Bad Request

In [82]:
csv_file = open('test.csv', 'r')
    
# geographies contains the State, County, Tract, and Block layers by default
returntype = 'geographies' # locations (just geocoding response) or geographies (geocoding response + geoLookup)
BATCH_GEOCODE_URL = "https://geocoding.geo.census.gov/geocoder/" + returntype + "/addressbatch"

PARAMS = {'benchmark': 'Public_AR_Census2010', \
          'vintage': 'Census2010_Census2010', \
         'addressFile': csv_file} 

r = requests.get(url = URL, params = PARAMS)

print(r)

# output_csv = open('geocode_result.csv', 'w')
# output_csv.write(r.text)
# output_csv.close()

<Response [400]>

# Main program

In [4]:
df = pd.read_csv('../../data/land_parcel/mapc.ma_parcels_metrofuture.csv', \
                 dtype={'addr_zip': np.string_}) # zip codes need to be imported as string in order to retain leading 0

land_parcel_df = filter_luc(df)
land_parcel_df = filter_poly_typ(land_parcel_df)
# land_parcel_df = filter_bldg(land_parcel_df) # filter on top of the filtered table

# land_parcel_df = pd.read_csv('../../data/filtered_data/usable_state_land.csv', \
#                   dtype={'addr_zip': np.string_}) # zip codes need to be imported as string in order to retain leading 0

C:\Users\xsmil\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6,14,17,18,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# reset indices in order to refer to rows by index in for loop below
# keeps original index values in new column 'index'
land_parcel_df = land_parcel_df.reset_index()

In [6]:
land_parcel_df[['addr_num', 'addr_str', 'addr_zip']]

     addr_num               addr_str addr_zip
0         NaN               BIRCH ST    02351
1         NaN               BIRCH ST    02351
2         NaN              MONROE ST    02351
3         NaN         GLINIEWICZ WAY    02351
4         NaN            LINCOLN BLV    02351
...       ...                    ...      ...
7714      NaN               GOTT AVE      NaN
7715      NaN  GRANITE ST & GOTT AVE      NaN
7716      NaN      REAR RAILROAD AVE      NaN
7717      NaN            MILK ISLAND      NaN
7718      NaN           GAFFIELD AVE      NaN

[7719 rows x 3 columns]

In [17]:
# from datetime import datetime

# land_parcel_df['census_tract'] = np.nan

# for i in range(3200):
#     # in order to make request, need street address (number & street name), AND zip code
#     addr_num = str(land_parcel_df.iloc[i]['addr_num']).replace(" ", "")
#     addr_str = land_parcel_df.iloc[i]['addr_str']
#     addr_zip = str(land_parcel_df.iloc[i]['addr_zip']).replace(" ", "")
    
#     #print(i, addr_num, addr_str, addr_zip)
#     if (i % 100 == 0):
#         print('Step: ', i)
#         print("Current Time =", datetime.now().strftime("%H:%M:%S"))
    
#     # check for any blanks or nan values
#     if not ((not addr_num or addr_num == 'nan') \
#         or (not addr_str or addr_str == 'nan') \
#         or (not addr_zip or addr_zip == 'nan')):
#             tract = get_tract_number(addr_num, addr_str, addr_zip)
#             land_parcel_df.at[i, 'census_tract'] = tract

Step:  0
Current Time = 16:32:51
Step:  100
Current Time = 16:33:50
Step:  200
Current Time = 16:34:25
Step:  300
Current Time = 16:35:12
Step:  400
Current Time = 16:35:38
Step:  500
Current Time = 16:35:50
Step:  600
Current Time = 16:36:43
Step:  700
Current Time = 16:37:01
Step:  800
Current Time = 16:37:39
Step:  900
Current Time = 16:38:31
Step:  1000
Current Time = 16:39:12
Step:  1100
Current Time = 16:39:19
Step:  1200
Current Time = 16:39:20
Step:  1300
Current Time = 16:39:59
Step:  1400
Current Time = 16:40:32
Step:  1500
Current Time = 16:41:00
Step:  1600
Current Time = 16:41:15
Step:  1700
Current Time = 16:42:12
Step:  1800
Current Time = 16:43:14
Step:  1900
Current Time = 16:43:29
Step:  2000
Current Time = 16:43:55
Step:  2100
Current Time = 16:44:26
Step:  2200
Current Time = 16:45:02
Step:  2300
Current Time = 16:45:51
Step:  2400
Current Time = 16:46:53
Step:  2500
Current Time = 16:47:52
Step:  2600
Current Time = 16:48:43
Step:  2700
Current Time = 16:49:14
Step:  2800
Current Time = 16:50:17
Step:  2900
Current Time = 16:50:46
Step:  3000
Current Time = 16:51:06
Step:  3100
Current Time = 16:51:48

In [7]:
from datetime import datetime

land_parcel_df['census_tract'] = np.nan

In [8]:
land_parcel_df['census_tract']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
7714   NaN
7715   NaN
7716   NaN
7717   NaN
7718   NaN
Name: census_tract, Length: 7719, dtype: float64

In [9]:
for i in range(len(land_parcel_df)):
    # in order to make request, need street address (number & street name), AND zip code
    addr_num = str(land_parcel_df.iloc[i]['addr_num']).replace(" ", "")
    addr_str = land_parcel_df.iloc[i]['addr_str']
    addr_zip = str(land_parcel_df.iloc[i]['addr_zip']).replace(" ", "")

    #print(i, addr_num, addr_str, addr_zip)
    if (i % 100 == 0):
        print('Step: ', i)
        print("Current Time =", datetime.now().strftime("%H:%M:%S"))

    # check for any blanks or nan values
    if not ((not addr_num or addr_num == 'nan') \
        or (not addr_str or addr_str == 'nan') \
        or (not addr_zip or addr_zip == 'nan')):
            try:
                tract = get_tract_number(addr_num, addr_str, addr_zip)
                land_parcel_df.at[i, 'census_tract'] = tract
            except:
                print('Error at step: ', i)

Step:  0
Current Time = 10:41:10
Step:  100
Current Time = 10:42:12
Step:  200
Current Time = 10:42:23
Step:  300
Current Time = 10:43:34
Step:  400
Current Time = 10:43:57
Step:  500
Current Time = 10:44:54
Step:  600
Current Time = 10:45:28
Step:  700
Current Time = 10:46:18
Step:  800
Current Time = 10:46:21
Step:  900
Current Time = 10:46:27
Step:  1000
Current Time = 10:46:40
Step:  1100
Current Time = 10:47:03
Step:  1200
Current Time = 10:48:06
Step:  1300
Current Time = 10:48:26
Step:  1400
Current Time = 10:48:27
Step:  1500
Current Time = 10:48:49
Step:  1600
Current Time = 10:48:53
Step:  1700
Current Time = 10:49:45
Step:  1800
Current Time = 10:50:27
Step:  1900
Current Time = 10:50:42
Step:  2000
Current Time = 10:51:31
Step:  2100
Current Time = 10:52:21
Step:  2200
Current Time = 10:53:10
Step:  2300
Current Time = 10:53:10
Step:  2400
Current Time = 10:53:15
Step:  2500
Current Time = 10:53:33
Step:  2600
Current Time = 10:53:33
Step:  2700
Current Time = 10:53:35
Step:  2800
Current Time = 10:54:16
Step:  2900
Current Time = 10:54:51
Step:  3000
Current Time = 10:54:58
Step:  3100
Current Time = 10:55:15
Step:  3200
Current Time = 10:55:30
Step:  3300
Current Time = 10:55:30
Step:  3400
Current Time = 10:55:30
Step:  3500
Current Time = 10:55:45
Step:  3600
Current Time = 10:56:08
Step:  3700
Current Time = 10:56:11
Step:  3800
Current Time = 10:56:59
Step:  3900
Current Time = 10:57:06
Step:  4000
Current Time = 10:57:29
Step:  4100
Current Time = 10:57:29
Step:  4200
Current Time = 10:57:53
Step:  4300
Current Time = 10:58:35
Step:  4400
Current Time = 10:59:18
Step:  4500
Current Time = 11:00:15
Step:  4600
Current Time = 11:00:58
Step:  4700
Current Time = 11:01:24
Step:  4800
Current Time = 11:01:37
Step:  4900
Current Time = 11:01:54
Step:  5000
Current Time = 11:01:55
Step:  5100
Current Time = 11:02:19
Step:  5200
Current Time = 11:02:53
Step:  5300
Current Time = 11:03:17
Step:  5400
Current Time = 11:03:49
Step:  5500
Current Time = 11:04:35
Step:  5600
Current Time = 11:05:24
Step:  5700
Current Time = 11:06:02
Step:  5800
Current Time = 11:06:50
Step:  5900
Current Time = 11:07:13
Step:  6000
Current Time = 11:07:38
Step:  6100
Current Time = 11:08:43
Step:  6200
Current Time = 11:09:26
Step:  6300
Current Time = 11:09:26
Step:  6400
Current Time = 11:09:36
Step:  6500
Current Time = 11:09:57
Step:  6600
Current Time = 11:10:31
Step:  6700
Current Time = 11:10:52
Step:  6800
Current Time = 11:11:08
Step:  6900
Current Time = 11:11:41
Step:  7000
Current Time = 11:11:58
Step:  7100
Current Time = 11:11:58
Step:  7200
Current Time = 11:12:48
Step:  7300
Current Time = 11:13:37
Step:  7400
Current Time = 11:14:07
Step:  7500
Current Time = 11:14:07
Step:  7600
Current Time = 11:14:07
Step:  7700
Current Time = 11:14:11

In [37]:
land_parcel_df.loc[land_parcel_df['census_tract'].notna(), 'census_tract']

5       520202.0
7       520202.0
8       266300.0
9       266300.0
10      266300.0
          ...
7369    408101.0
7370    408102.0
7372    408102.0
7373    408102.0
7695    367200.0
Name: census_tract, Length: 1416, dtype: float64

# Obtain Median Household Income Estimate by Census Tract for MA

In [11]:
def get_median_hh_income():
    '''
    Returns Pandas DataFrame representation Median Household Income Estimate by Census Tract for MA.
    American Community Survey (ACS) 2018 Census data used.
    Specific table: ACS 2018 5-year detailed table "B19013_001E"
    '''
    URL = "https://api.census.gov/data/2018/acs/acs5?get=B19013_001E&for=tract:*&in=state:25"
  
    response = requests.get(url = URL)
    data = response.json()

    # pprint(data)
    
    median_income_df = pd.DataFrame(data[1:len(data)-1], columns = data[0])
    
    return median_income_df

In [12]:
median_income_df = get_median_hh_income()

In [36]:
median_income_df.head()

  B19013_001E state county  tract
0      132750    25    025  60501
1       12759    25    025  61101
2       84083    25    025  70101
3       28851    25    025  70402
4       52676    25    025  71101

In [31]:
median_income_df.to_csv('ma_med_income_tract.csv',index=False)

# Add Median HH Income Data to land_parcel_df by comparing tract number

In [14]:
land_parcel_df.head()

,index,objectid,mapc_id,muni_id,muni,parloc_id,poly_typ,map_num,mappar_id,loc_id_cnt,...,bldgv_psf,totv_pac,bldlnd_rat,sqm_imperv,sqm_bldg,sqm_pave,realesttyp,temp,shape,census_tract
0,1385,1366,1366,1,Abington,M_246267_875289,FEE,53,53_79,1.0,...,-0.9999,256029.052883,0.0,196.812311,-0.9999,0.0,12.0,NaN,3600000004000000080010006A6900001E030000010000...,NaN
1,1427,1407,1407,1,Abington,M_246286_875131,FEE,53,53_72,1.0,...,-0.9999,35033.119438,0.0,11249.740307,-0.9999,0.0,12.0,NaN,620000000B000000080010006A6900008A010000010000...,NaN
2,1456,1437,1437,1,Abington,M_246358_875203,FEE,54,54_113,1.0,...,-0.9999,58710.695187,0.0,11.610459,-0.9999,0.0,12.0,NaN,4800000007000000080010006A69000030020000010000...,NaN
3,2137,2115,2115,1,Abington,M_245207_874239,FEE,38,38_17,1.0,...,-0.9999,47599.635542,0.0,150.201817,-0.9999,0.0,0.0,NaN,4A00000007000000080010006A69000032010000010000...,NaN
4,2199,2178,2178,1,Abington,M_244997_874062,FEE,38,38_18,1.0,...,-0.9999,12345.548473,0.0,-0.999900,-0.9999,0.0,0.0,NaN,4A00000007000000080010006A69000032030000010000...,NaN

In [49]:
median_income_df[median_income_df['tract'] == tract]['B19013_001E']

Series([], Name: B19013_001E, dtype: object)

In [50]:
from statistics import mean

# only check for land parcels that we were able to obtain tract numbers for
for i in land_parcel_df[land_parcel_df['census_tract'].notna()].index:
    tract = land_parcel_df.loc[i]['census_tract']
    median_hh_income = median_income_df[median_income_df['tract'] == tract]['B19013_001E']
    
    # ACS data is broken down by state > county > tract
    # sometimes tract covered more than 1 county
    # averaged the median incomes
    print(len(median_hh_income))
    if (len(median_hh_income) > 1):
        median_hh_income = mean([int(m) for m in median_income_df[median_income_df['tract'] == tract]['B19013_001E'].values])
    
    #try:
    land_parcel_df.at[i, 'median_hh_income'] = median_hh_income
    #except:
        #print('Error at index: ', i)

tract:  520202.0
median_hh_income:  431    89978
Name: B19013_001E, dtype: object
1
tract:  520202.0
median_hh_income:  431    89978
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266400.0
median_hh_income:  830    72685
Name: B19013_001E, dtype: object
1
tract:  266200.0
median_hh_income:  340    78577
Name: B19013_001E, dtype: object
1
tract:  266200.0
median_hh_income:  340    78577
Name: B19013_001E, dtype: object
1
tract:  266200.0
median_hh_income:  340    78577
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  266200.0
median_hh_income:  340    78577
Name: B19013_001E, dtype: object
1
tract:  266300.0
median_hh_income:  829    70063
Name: B19013_001E, dtype: object
1
tract:  356702.0
median_hh_income:  1106    109783
Name: B19013_001E, dtype: object
1
tract:  356500.0
median_hh_income:  395    110313
Name: B19013_001E, dtype: object
1
tract:  356500.0
median_hh_income:  395    110313
Name: B19013_001E, dtype: object
1
tract:  631400.0
median_hh_income:  295    42557
Name: B19013_001E, dtype: object
1
tract:  631400.0
median_hh_income:  295    42557
Name: B19013_001E, dtype: object
1
tract:  631800.0
median_hh_income:  868    81029
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359100.0
median_hh_income:  1206    125152
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  359300.0
median_hh_income:  530    134602
Name: B19013_001E, dtype: object
1
tract:  443102.0
median_hh_income:  1260    101115
Name: B19013_001E, dtype: object
1
tract:  443102.0
median_hh_income:  1260    101115
Name: B19013_001E, dtype: object
1
tract:  443101.0
median_hh_income:  822    98574
Name: B19013_001E, dtype: object
1
tract:  443101.0
median_hh_income:  822    98574
Name: B19013_001E, dtype: object
1
tract:  443102.0
median_hh_income:  1260    101115
Name: B19013_001E, dtype: object
1
tract:  217400.0
median_hh_income:  318    61646
Name: B19013_001E, dtype: object
1
tract:  217400.0
median_hh_income:  318    61646
Name: B19013_001E, dtype: object
1
tract:  217500.0
median_hh_income:  335    84449
Name: B19013_001E, dtype: object
1
tract:  217300.0
median_hh_income:  263    56157
Name: B19013_001E, dtype: object
1
tract:  217300.0
median_hh_income:  263    56157
Name: B19013_001E, dtype: object
1
tract:  217300.0
median_hh_income:  263    56157
Name: B19013_001E, dtype: object
1
tract:  217300.0
median_hh_income:  263    56157
Name: B19013_001E, dtype: object
1
tract:  217500.0
median_hh_income:  335    84449
Name: B19013_001E, dtype: object
1
tract:  217300.0
median_hh_income:  263    56157
Name: B19013_001E, dtype: object
1
tract:  217300.0
median_hh_income:  263    56157
Name: B19013_001E, dtype: object
1
tract:  217100.0
median_hh_income:  451    95863
Name: B19013_001E, dtype: object
1
tract:  217100.0
median_hh_income:  451    95863
Name: B19013_001E, dtype: object
1
tract:  217600.0
median_hh_income:  857    101964
Name: B19013_001E, dtype: object
1
tract:  217300.0
median_hh_income:  263    56157
Name: B19013_001E, dtype: object
1
tract:  217100.0
median_hh_income:  451    95863
Name: B19013_001E, dtype: object
1
tract:  217100.0
median_hh_income:  451    95863
Name: B19013_001E, dtype: object
1
tract:  217100.0
median_hh_income:  451    95863
Name: B19013_001E, dtype: object
1
tract:  217600.0
median_hh_income:  857    101964
Name: B19013_001E, dtype: object
1
tract:  316202.0
median_hh_income:  709    106532
Name: B19013_001E, dtype: object
1
tract:  316202.0
median_hh_income:  709    106532
Name: B19013_001E, dtype: object
1
tract:  316300.0
median_hh_income:  572    100134
Name: B19013_001E, dtype: object
1
tract:  316300.0
median_hh_income:  572    100134
Name: B19013_001E, dtype: object
1
tract:  316201.0
median_hh_income:  1317    97841
Name: B19013_001E, dtype: object
1
tract:  316101.0
median_hh_income:  402    111500
Name: B19013_001E, dtype: object
1
tract:  316500.0
median_hh_income:  573    95519
Name: B19013_001E, dtype: object
1
tract:  316500.0
median_hh_income:  573    95519
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  362100.0
median_hh_income:  529    171625
Name: B19013_001E, dtype: object
1
tract:  160300.0
median_hh_income:  1191    51667
Name: B19013_001E, dtype: object
1
tract:  160101.0
median_hh_income:  1388    57031
Name: B19013_001E, dtype: object
1
tract:  160101.0
median_hh_income:  1388    57031
Name: B19013_001E, dtype: object
1
tract:  160502.0
median_hh_income:  1390    51326
Name: B19013_001E, dtype: object
1
tract:  160101.0
median_hh_income:  1388    57031
Name: B19013_001E, dtype: object
1
tract:  160101.0
median_hh_income:  1388    57031
Name: B19013_001E, dtype: object
1
tract:  160300.0
median_hh_income:  1191    51667
Name: B19013_001E, dtype: object
1
tract:  160101.0
median_hh_income:  1388    57031
Name: B19013_001E, dtype: object
1
tract:  160300.0
median_hh_income:  1191    51667
Name: B19013_001E, dtype: object
1
tract:  160200.0
median_hh_income:  1308    49821
Name: B19013_001E, dtype: object
1
tract:  160300.0
median_hh_income:  1191    51667
Name: B19013_001E, dtype: object
1
tract:  160101.0
median_hh_income:  1388    57031
Name: B19013_001E, dtype: object
1
tract:  160400.0
median_hh_income:  1307    54800
Name: B19013_001E, dtype: object
1
tract:  160101.0
median_hh_income:  1388    57031
Name: B19013_001E, dtype: object
1
tract:  160400.0
median_hh_income:  1307    54800
Name: B19013_001E, dtype: object
1
tract:  160501.0
median_hh_income:  1389    47366
Name: B19013_001E, dtype: object
1
tract:  160501.0
median_hh_income:  1389    47366
Name: B19013_001E, dtype: object
1
tract:  160501.0
median_hh_income:  1389    47366
Name: B19013_001E, dtype: object
1
tract:  160501.0
median_hh_income:  1389    47366
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160400.0
median_hh_income:  1307    54800
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160502.0
median_hh_income:  1390    51326
Name: B19013_001E, dtype: object
1
tract:  160601.0
median_hh_income:  1391    59671
Name: B19013_001E, dtype: object
1
tract:  160602.0
median_hh_income:  1392    62960
Name: B19013_001E, dtype: object
1
tract:  160602.0
median_hh_income:  1392    62960
Name: B19013_001E, dtype: object
1
tract:  160300.0
median_hh_income:  1191    51667
Name: B19013_001E, dtype: object
1
tract:  160502.0
median_hh_income:  1390    51326
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  507101.0
median_hh_income:  909    119917
Name: B19013_001E, dtype: object
1
tract:  507101.0
median_hh_income:  909    119917
Name: B19013_001E, dtype: object
1
tract:  507104.0
median_hh_income:  438    113889
Name: B19013_001E, dtype: object
1
tract:  507104.0
median_hh_income:  438    113889
Name: B19013_001E, dtype: object
1
tract:  507104.0
median_hh_income:  438    113889
Name: B19013_001E, dtype: object
1
tract:  507104.0
median_hh_income:  438    113889
Name: B19013_001E, dtype: object
1
tract:  507104.0
median_hh_income:  438    113889
Name: B19013_001E, dtype: object
1
tract:  507101.0
median_hh_income:  909    119917
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  507103.0
median_hh_income:  910    154063
Name: B19013_001E, dtype: object
1
tract:  410100.0
median_hh_income:  663    94167
Name: B19013_001E, dtype: object
1
tract:  442103.0
median_hh_income:  930    128605
Name: B19013_001E, dtype: object
1
tract:  442103.0
median_hh_income:  930    128605
Name: B19013_001E, dtype: object
1
tract:  442103.0
median_hh_income:  930    128605
Name: B19013_001E, dtype: object
1
tract:  442101.0
median_hh_income:  656    110184
Name: B19013_001E, dtype: object
1
tract:  442102.0
median_hh_income:  1259    132150
Name: B19013_001E, dtype: object
1
tract:  442102.0
median_hh_income:  1259    132150
Name: B19013_001E, dtype: object
1
tract:  442102.0
median_hh_income:  1259    132150
Name: B19013_001E, dtype: object
1
tract:  442102.0
median_hh_income:  1259    132150
Name: B19013_001E, dtype: object
1
tract:  442202.0
median_hh_income:  1141    86642
Name: B19013_001E, dtype: object
1
tract:  442202.0
median_hh_income:  1141    86642
Name: B19013_001E, dtype: object
1
tract:  442202.0
median_hh_income:  1141    86642
Name: B19013_001E, dtype: object
1
tract:  442202.0
median_hh_income:  1141    86642
Name: B19013_001E, dtype: object
1
tract:  442202.0
median_hh_income:  1141    86642
Name: B19013_001E, dtype: object
1
tract:  221100.0
median_hh_income:  843    91019
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221600.0

median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221300.0
median_hh_income:  844    85219
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221700.0
median_hh_income:  210    51821
Name: B19013_001E, dtype: object
1
tract:  221700.0
median_hh_income:  210    51821
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221500.0
median_hh_income:  195    43382
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221700.0
median_hh_income:  210    51821
Name: B19013_001E, dtype: object
1
tract:  221800.0
median_hh_income:  196    102917
Name: B19013_001E, dtype: object
1
tract:  221500.0
median_hh_income:  195    43382
Name: B19013_001E, dtype: object
1
tract:  221400.0
median_hh_income:  194    49318
Name: B19013_001E, dtype: object
1
tract:  221500.0
median_hh_income:  195    43382
Name: B19013_001E, dtype: object
1
tract:  221500.0
median_hh_income:  195    43382
Name: B19013_001E, dtype: object
1
tract:  221500.0
median_hh_income:  195    43382
Name: B19013_001E, dtype: object
1
tract:  221500.0
median_hh_income:  195    43382
Name: B19013_001E, dtype: object
1
tract:  221700.0
median_hh_income:  210    51821
Name: B19013_001E, dtype: object
1
tract:  221500.0
median_hh_income:  195    43382
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  221902.0
median_hh_income:  1041    82108
Name: B19013_001E, dtype: object
1
tract:  221902.0
median_hh_income:  1041    82108
Name: B19013_001E, dtype: object
1
tract:  221600.0
median_hh_income:  264    44608
Name: B19013_001E, dtype: object
1
tract:  264100.0
median_hh_income:  199    97109
Name: B19013_001E, dtype: object
1
tract:  264100.0
median_hh_income:  199    97109
Name: B19013_001E, dtype: object
1
tract:  264100.0
median_hh_income:  199    97109
Name: B19013_001E, dtype: object
1
tract:  745100.0
median_hh_income:  677    107550
Name: B19013_001E, dtype: object
1
tract:  745100.0
median_hh_income:  677    107550
Name: B19013_001E, dtype: object
1
tract:  745100.0
median_hh_income:  677    107550
Name: B19013_001E, dtype: object
1
tract:  745100.0
median_hh_income:  677    107550
Name: B19013_001E, dtype: object
1
tract:  745100.0
median_hh_income:  677    107550
Name: B19013_001E, dtype: object
1
tract:  745100.0
median_hh_income:  677    107550
Name: B19013_001E, dtype: object
1
tract:  320102.0
median_hh_income:  986    167206
Name: B19013_001E, dtype: object
1
tract:  322200.0
median_hh_income:  152    84574
Name: B19013_001E, dtype: object
1
tract:  322200.0
median_hh_income:  152    84574
Name: B19013_001E, dtype: object
1
tract:  322200.0
median_hh_income:  152    84574
Name: B19013_001E, dtype: object
1
tract:  322200.0
median_hh_income:  152    84574
Name: B19013_001E, dtype: object
1
tract:  322400.0
median_hh_income:  988    86514
Name: B19013_001E, dtype: object
1
tract:  713100.0
median_hh_income:  7    103071
Name: B19013_001E, dtype: object
1
tract:  713100.0
median_hh_income:  7    103071
Name: B19013_001E, dtype: object
1
tract:  360200.0
median_hh_income:  396    142550
Name: B19013_001E, dtype: object
1
tract:  360200.0
median_hh_income:  396    142550
Name: B19013_001E, dtype: object
1
tract:  360200.0
median_hh_income:  396    142550
Name: B19013_001E, dtype: object
1
tract:  360200.0
median_hh_income:  396    142550
Name: B19013_001E, dtype: object
1
tract:  312200.0
median_hh_income:  569    64955
Name: B19013_001E, dtype: object
1
tract:  312200.0
median_hh_income:  569    64955
Name: B19013_001E, dtype: object
1
tract:  312200.0
median_hh_income:  569    64955
Name: B19013_001E, dtype: object
1
tract:  312200.0
median_hh_income:  569    64955
Name: B19013_001E, dtype: object
1
tract:  310100.0
median_hh_income:  1015    31194
Name: B19013_001E, dtype: object
1
tract:  311100.0
median_hh_income:  476    53203
Name: B19013_001E, dtype: object
1
tract:  310601.0
median_hh_income:  1311    62944
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  310700.0
median_hh_income:  710    39096
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  310500.0
median_hh_income:  707    48889
Name: B19013_001E, dtype: object
1
tract:  207100.0
median_hh_income:  327    49750
Name: B19013_001E, dtype: object
1
tract:  311700.0
median_hh_income:  990    67478
Name: B19013_001E, dtype: object
1
tract:  388300.0
median_hh_income:  1122    14836
Name: B19013_001E, dtype: object
1
tract:  310100.0
median_hh_income:  1015    31194
Name: B19013_001E, dtype: object
1
tract:  310100.0
median_hh_income:  1015    31194
Name: B19013_001E, dtype: object
1
tract:  310100.0
median_hh_income:  1015    31194
Name: B19013_001E, dtype: object
1
tract:  205800.0
median_hh_income:  189    67750
Name: B19013_001E, dtype: object
1
tract:  207200.0
median_hh_income:  281    36339
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  207200.0
median_hh_income:  281    36339
Name: B19013_001E, dtype: object
1
tract:  207200.0
median_hh_income:  281    36339
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  207100.0
median_hh_income:  327    49750
Name: B19013_001E, dtype: object
1
tract:  207100.0
median_hh_income:  327    49750
Name: B19013_001E, dtype: object
1
tract:  205800.0
median_hh_income:  189    67750
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  207200.0
median_hh_income:  281    36339
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  206900.0
median_hh_income:  207    22340
Name: B19013_001E, dtype: object
1
tract:  206900.0
median_hh_income:  207    22340
Name: B19013_001E, dtype: object
1
tract:  206900.0
median_hh_income:  207    22340
Name: B19013_001E, dtype: object
1
tract:  207000.0
median_hh_income:  190    28810
Name: B19013_001E, dtype: object
1
tract:  206900.0
median_hh_income:  207    22340
Name: B19013_001E, dtype: object
1
tract:  206100.0
median_hh_income:  258    29452
Name: B19013_001E, dtype: object
1
tract:  206000.0
median_hh_income:  834    43646
Name: B19013_001E, dtype: object
1
tract:  206100.0
median_hh_income:  258    29452
Name: B19013_001E, dtype: object
1
tract:  206800.0
median_hh_income:  855    27036
Name: B19013_001E, dtype: object
1
tract:  206100.0
median_hh_income:  258    29452
Name: B19013_001E, dtype: object
1
tract:  206100.0
median_hh_income:  258    29452
Name: B19013_001E, dtype: object
1
tract:  206100.0
median_hh_income:  258    29452
Name: B19013_001E, dtype: object
1
tract:  206800.0
median_hh_income:  855    27036
Name: B19013_001E, dtype: object
1
tract:  206500.0
median_hh_income:  836    42560
Name: B19013_001E, dtype: object
1
tract:  205600.0
median_hh_income:  188    42417
Name: B19013_001E, dtype: object
1
tract:  206500.0
median_hh_income:  836    42560
Name: B19013_001E, dtype: object
1
tract:  206200.0
median_hh_income:  336    51848
Name: B19013_001E, dtype: object
1
tract:  206400.0
median_hh_income:  259    62841
Name: B19013_001E, dtype: object
1
tract:  205700.0
median_hh_income:  203    81250
Name: B19013_001E, dtype: object
1
tract:  206400.0
median_hh_income:  259    62841
Name: B19013_001E, dtype: object
1
tract:  206400.0
median_hh_income:  259    62841
Name: B19013_001E, dtype: object
1
tract:  205200.0
median_hh_income:  257    56612
Name: B19013_001E, dtype: object
1
tract:  205100.0
median_hh_income:  325    88906
Name: B19013_001E, dtype: object
1
tract:  205200.0
median_hh_income:  257    56612
Name: B19013_001E, dtype: object
1
tract:  218100.0
median_hh_income:  284    124025
Name: B19013_001E, dtype: object
1
tract:  218100.0
median_hh_income:  284    124025
Name: B19013_001E, dtype: object
1
tract:  218100.0
median_hh_income:  284    124025
Name: B19013_001E, dtype: object
1
tract:  218100.0
median_hh_income:  284    124025
Name: B19013_001E, dtype: object
1
tract:  218100.0
median_hh_income:  284    124025
Name: B19013_001E, dtype: object
1
tract:  321400.0
median_hh_income:  987    93750
Name: B19013_001E, dtype: object
1
tract:  336300.0
median_hh_income:  470    120436
Name: B19013_001E, dtype: object
1
tract:  336401.0
median_hh_income:  1014    69219
Name: B19013_001E, dtype: object
1
tract:  336100.0
median_hh_income:  407    107083
Name: B19013_001E, dtype: object
1
tract:  336402.0
median_hh_income:  1319    79969
Name: B19013_001E, dtype: object
1
tract:  336300.0
median_hh_income:  470    120436
Name: B19013_001E, dtype: object
1
tract:  336300.0
median_hh_income:  470    120436
Name: B19013_001E, dtype: object
1
tract:  336100.0
median_hh_income:  407    107083
Name: B19013_001E, dtype: object
1
tract:  212100.0
median_hh_income:  842    102604
Name: B19013_001E, dtype: object
1
tract:  212100.0
median_hh_income:  842    102604
Name: B19013_001E, dtype: object
1
tract:  212100.0
median_hh_income:  842    102604
Name: B19013_001E, dtype: object
1
tract:  212100.0
median_hh_income:  842    102604
Name: B19013_001E, dtype: object
1
tract:  212100.0
median_hh_income:  842    102604
Name: B19013_001E, dtype: object
1
tract:  201100.0
median_hh_income:  833    90741
Name: B19013_001E, dtype: object
1
tract:  201100.0
median_hh_income:  833    90741
Name: B19013_001E, dtype: object
1
tract:  201100.0
median_hh_income:  833    90741
Name: B19013_001E, dtype: object
1
tract:  201100.0
median_hh_income:  833    90741
Name: B19013_001E, dtype: object
1
tract:  201100.0
median_hh_income:  833    90741
Name: B19013_001E, dtype: object
1
tract:  268100.0
median_hh_income:  831    154653
Name: B19013_001E, dtype: object
1
tract:  268100.0
median_hh_income:  831    154653
Name: B19013_001E, dtype: object
1
tract:  374500.0
median_hh_income:  538    125192
Name: B19013_001E, dtype: object
1
tract:  130100.0
median_hh_income:  1190    104829
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  370102.0
median_hh_income:  145    86319
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  374500.0
median_hh_income:  538    125192
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374600.0
median_hh_income:  372    132813
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374000.0
median_hh_income:  540    129848
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1

tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374400.0
median_hh_income:  541    182813
Name: B19013_001E, dtype: object
1
tract:  374400.0
median_hh_income:  541    182813
Name: B19013_001E, dtype: object
1
tract:  373100.0
median_hh_income:  368    92500
Name: B19013_001E, dtype: object
1
tract:  373600.0
median_hh_income:  539    200250
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  373300.0
median_hh_income:  369    116094
Name: B19013_001E, dtype: object
1
tract:  373200.0
median_hh_income:  525    85833
Name: B19013_001E, dtype: object
1
tract:  373200.0
median_hh_income:  525    85833
Name: B19013_001E, dtype: object
1
tract:  373300.0
median_hh_income:  369    116094
Name: B19013_001E, dtype: object
1
tract:  373400.0
median_hh_income:  133    130547
Name: B19013_001E, dtype: object
1
tract:  373400.0
median_hh_income:  133    130547
Name: B19013_001E, dtype: object
1
tract:  374600.0
median_hh_income:  372    132813
Name: B19013_001E, dtype: object
1
tract:  374400.0
median_hh_income:  541    182813
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  373700.0
median_hh_income:  370    221750
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  373700.0
median_hh_income:  370    221750
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374400.0
median_hh_income:  541    182813
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  373800.0
median_hh_income:  537    156505
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  374200.0
median_hh_income:  371    146094
Name: B19013_001E, dtype: object
1
tract:  373800.0
median_hh_income:  537    156505
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374000.0
median_hh_income:  540    129848
Name: B19013_001E, dtype: object
1
tract:  373900.0
median_hh_income:  1209    159525
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374700.0
median_hh_income:  542    119149
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374300.0
median_hh_income:  526    232875
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  373300.0
median_hh_income:  369    116094
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374800.0
median_hh_income:  397    129028
Name: B19013_001E, dtype: object
1
tract:  374100.0
median_hh_income:  726    116094
Name: B19013_001E, dtype: object
1
tract:  368600.0
median_hh_income:  155    80445
Name: B19013_001E, dtype: object
1
tract:  373700.0
median_hh_income:  370    221750
Name: B19013_001E, dtype: object
1
tract:  373200.0
median_hh_income:  525    85833
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  409102.0
median_hh_income:  662    151193
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  409101.0
median_hh_income:  665    136500
Name: B19013_001E, dtype: object
1
tract:  330100.0
median_hh_income:  1321    153148
Name: B19013_001E, dtype: object
1
tract:  330200.0
median_hh_income:  701    110298
Name: B19013_001E, dtype: object
1
tract:  330100.0
median_hh_income:  1321    153148
Name: B19013_001E, dtype: object
1
tract:  330100.0
median_hh_income:  1321    153148
Name: B19013_001E, dtype: object
1
tract:  330100.0
median_hh_income:  1321    153148
Name: B19013_001E, dtype: object
1
tract:  330100.0
median_hh_income:  1321    153148
Name: B19013_001E, dtype: object
1
tract:  740102.0
median_hh_income:  1276    108056
Name: B19013_001E, dtype: object
1
tract:  740101.0
median_hh_income:  1289    126464
Name: B19013_001E, dtype: object
1
tract:  740101.0
median_hh_income:  1289    126464
Name: B19013_001E, dtype: object
1
tract:  740102.0
median_hh_income:  1276    108056
Name: B19013_001E, dtype: object
1
tract:  740200.0
median_hh_income:  51    112000
Name: B19013_001E, dtype: object
1
tract:  740101.0
median_hh_income:  1289    126464
Name: B19013_001E, dtype: object
1
tract:  740102.0
median_hh_income:  1276    108056
Name: B19013_001E, dtype: object
1
tract:  740101.0
median_hh_income:  1289    126464
Name: B19013_001E, dtype: object
1
tract:  740102.0
median_hh_income:  1276    108056
Name: B19013_001E, dtype: object
1
tract:  740102.0
median_hh_income:  1276    108056
Name: B19013_001E, dtype: object
1
tract:  740200.0
median_hh_income:  51    112000
Name: B19013_001E, dtype: object
1
tract:  740101.0
median_hh_income:  1289    126464
Name: B19013_001E, dtype: object
1
tract:  740101.0
median_hh_income:  1289    126464
Name: B19013_001E, dtype: object
1
tract:  740101.0
median_hh_income:  1289    126464
Name: B19013_001E, dtype: object
1
tract:  740102.0
median_hh_income:  1276    108056
Name: B19013_001E, dtype: object
1
tract:  740102.0
median_hh_income:  1276    108056
Name: B19013_001E, dtype: object
1
tract:  210600.0
median_hh_income:  192    61433
Name: B19013_001E, dtype: object
1
tract:  210600.0

median_hh_income:  192    61433
Name: B19013_001E, dtype: object
1
tract:  210900.0
median_hh_income:  193    73513
Name: B19013_001E, dtype: object
1
tract:  210300.0
median_hh_income:  856    55085
Name: B19013_001E, dtype: object
1
tract:  210100.0
median_hh_income:  334    106765
Name: B19013_001E, dtype: object
1
tract:  210800.0
median_hh_income:  839    41750
Name: B19013_001E, dtype: object
1
tract:  210800.0
median_hh_income:  839    41750
Name: B19013_001E, dtype: object
1
tract:  210200.0
median_hh_income:  282    105885
Name: B19013_001E, dtype: object
1
tract:  210800.0
median_hh_income:  839    41750
Name: B19013_001E, dtype: object
1
tract:  210900.0
median_hh_income:  193    73513
Name: B19013_001E, dtype: object
1
tract:  210400.0
median_hh_income:  445    77570
Name: B19013_001E, dtype: object
1
tract:  210100.0
median_hh_income:  334    106765
Name: B19013_001E, dtype: object
1
tract:  210400.0
median_hh_income:  445    77570
Name: B19013_001E, dtype: object
1
tract:  210200.0
median_hh_income:  282    105885
Name: B19013_001E, dtype: object
1
tract:  210200.0
median_hh_income:  282    105885
Name: B19013_001E, dtype: object
1
tract:  210400.0
median_hh_income:  445    77570
Name: B19013_001E, dtype: object
1
tract:  210200.0
median_hh_income:  282    105885
Name: B19013_001E, dtype: object
1
tract:  210400.0
median_hh_income:  445    77570
Name: B19013_001E, dtype: object
1
tract:  327102.0
median_hh_income:  699    85175
Name: B19013_001E, dtype: object
1
tract:  327102.0
median_hh_income:  699    85175
Name: B19013_001E, dtype: object
1
tract:  327102.0
median_hh_income:  699    85175
Name: B19013_001E, dtype: object
1
tract:  327102.0
median_hh_income:  699    85175
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327102.0
median_hh_income:  699    85175
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327102.0
median_hh_income:  699    85175
Name: B19013_001E, dtype: object
1
tract:  327102.0
median_hh_income:  699    85175
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327103.0
median_hh_income:  467    91140
Name: B19013_001E, dtype: object
1
tract:  327103.0
median_hh_income:  467    91140
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  327101.0
median_hh_income:  998    133783
Name: B19013_001E, dtype: object
1
tract:  530200.0
median_hh_income:  386    60353
Name: B19013_001E, dtype: object
1
tract:  530400.0
median_hh_income:  1381    95726
Name: B19013_001E, dtype: object
1
tract:  530500.0
median_hh_income:  924    60290
Name: B19013_001E, dtype: object
1
tract:  530300.0
median_hh_income:  915    68192
Name: B19013_001E, dtype: object
1
tract:  530300.0
median_hh_income:  915    68192
Name: B19013_001E, dtype: object
1
tract:  530200.0
median_hh_income:  386    60353
Name: B19013_001E, dtype: object
1
tract:  530500.0
median_hh_income:  924    60290
Name: B19013_001E, dtype: object
1
tract:  530300.0
median_hh_income:  915    68192
Name: B19013_001E, dtype: object
1
tract:  530500.0
median_hh_income:  924    60290
Name: B19013_001E, dtype: object
1
tract:  530300.0
median_hh_income:  915    68192
Name: B19013_001E, dtype: object
1
tract:  530300.0
median_hh_income:  915    68192
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530801.0
median_hh_income:  1152    99394
Name: B19013_001E, dtype: object
1
tract:  530400.0
median_hh_income:  1381    95726
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530300.0
median_hh_income:  915    68192
Name: B19013_001E, dtype: object
1
tract:  530802.0
median_hh_income:  1153    87140
Name: B19013_001E, dtype: object
1
tract:  530500.0
median_hh_income:  924    60290
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530400.0
median_hh_income:  1381    95726
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530700.0
median_hh_income:  387    100020
Name: B19013_001E, dtype: object
1
tract:  530400.0
median_hh_income:  1381    95726
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530801.0
median_hh_income:  1152    99394
Name: B19013_001E, dtype: object
1
tract:  530801.0
median_hh_income:  1152    99394
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530400.0
median_hh_income:  1381    95726
Name: B19013_001E, dtype: object
1
tract:  530802.0
median_hh_income:  1153    87140
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530902.0
median_hh_income:  1155    110250
Name: B19013_001E, dtype: object
1
tract:  530901.0
median_hh_income:  1154    96354
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  530901.0
median_hh_income:  1154    96354
Name: B19013_001E, dtype: object
1
tract:  530600.0
median_hh_income:  380    110793
Name: B19013_001E, dtype: object
1
tract:  417602.0
median_hh_income:  806    74730
Name: B19013_001E, dtype: object
1
tract:  612100.0
median_hh_income:  173    100060
Name: B19013_001E, dtype: object
1
tract:  612100.0
median_hh_income:  173    100060
Name: B19013_001E, dtype: object
1
tract:  334400.0
median_hh_income:  1330    90811
Name: B19013_001E, dtype: object
1
tract:  334400.0
median_hh_income:  1330    90811
Name: B19013_001E, dtype: object
1
tract:  334400.0
median_hh_income:  1330    90811
Name: B19013_001E, dtype: object
1
tract:  334400.0
median_hh_income:  1330    90811
Name: B19013_001E, dtype: object
1
tract:  334200.0
median_hh_income:  1329    102634
Name: B19013_001E, dtype: object
1
tract:  334200.0
median_hh_income:  1329    102634
Name: B19013_001E, dtype: object
1
tract:  334400.0
median_hh_income:  1330    90811
Name: B19013_001E, dtype: object
1
tract:  334400.0
median_hh_income:  1330    90811
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208200.0
median_hh_income:  837    69725
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208102.0
median_hh_income:  329    77100
Name: B19013_001E, dtype: object
1
tract:  208101.0
median_hh_income:  328    77159
Name: B19013_001E, dtype: object
1
tract:  208200.0
median_hh_income:  837    69725
Name: B19013_001E, dtype: object
1
tract:  208400.0
median_hh_income:  191    105538
Name: B19013_001E, dtype: object
1
tract:  208400.0
median_hh_income:  191    105538
Name: B19013_001E, dtype: object
1
tract:  414200.0
median_hh_income:  813    170083
Name: B19013_001E, dtype: object
1
tract:  414200.0
median_hh_income:  813    170083
Name: B19013_001E, dtype: object
1
tract:  414200.0
median_hh_income:  813    170083
Name: B19013_001E, dtype: object
1
tract:  414200.0
median_hh_income:  813    170083
Name: B19013_001E, dtype: object
1
tract:  414300.0
median_hh_income:  890    115500
Name: B19013_001E, dtype: object
1
tract:  741102.0
median_hh_income:  1429    153393
Name: B19013_001E, dtype: object
1
tract:  741101.0
median_hh_income:  1428    131089
Name: B19013_001E, dtype: object
1
tract:  741101.0
median_hh_income:  1428    131089
Name: B19013_001E, dtype: object
1
tract:  741101.0
median_hh_income:  1428    131089
Name: B19013_001E, dtype: object
1
tract:  741101.0
median_hh_income:  1428    131089
Name: B19013_001E, dtype: object
1
tract:  741101.0
median_hh_income:  1428    131089
Name: B19013_001E, dtype: object
1
tract:  613902.0
median_hh_income:  1472    69750
Name: B19013_001E, dtype: object
1
tract:  613902.0
median_hh_income:  1472    69750
Name: B19013_001E, dtype: object
1
tract:  614101.0
median_hh_income:  238    63144
Name: B19013_001E, dtype: object
1
tract:  614102.0
median_hh_income:  175    91569
Name: B19013_001E, dtype: object
1
tract:  614000.0
median_hh_income:  293    38269
Name: B19013_001E, dtype: object
1
tract:  614000.0
median_hh_income:  293    38269
Name: B19013_001E, dtype: object
1
tract:  614000.0
median_hh_income:  293    38269
Name: B19013_001E, dtype: object
1
tract:  613901.0
median_hh_income:  1471    45762
Name: B19013_001E, dtype: object
1
tract:  613700.0
median_hh_income:  876    49250
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613700.0
median_hh_income:  876    49250
Name: B19013_001E, dtype: object
1
tract:  614000.0
median_hh_income:  293    38269
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613901.0
median_hh_income:  1471    45762
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613600.0
median_hh_income:  236    41065
Name: B19013_001E, dtype: object
1
tract:  613700.0
median_hh_income:  876    49250
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613600.0
median_hh_income:  236    41065
Name: B19013_001E, dtype: object
1
tract:  613700.0
median_hh_income:  876    49250
Name: B19013_001E, dtype: object
1
tract:  613700.0
median_hh_income:  876    49250
Name: B19013_001E, dtype: object
1
tract:  613300.0
median_hh_income:  760    79375
Name: B19013_001E, dtype: object
1
tract:  613100.0
median_hh_income:  759    75000
Name: B19013_001E, dtype: object
1
tract:  613600.0
median_hh_income:  236    41065
Name: B19013_001E, dtype: object
1
tract:  613600.0
median_hh_income:  236    41065
Name: B19013_001E, dtype: object
1
tract:  613100.0
median_hh_income:  759    75000
Name: B19013_001E, dtype: object
1
tract:  613800.0
median_hh_income:  237    31162
Name: B19013_001E, dtype: object
1
tract:  613100.0
median_hh_income:  759    75000
Name: B19013_001E, dtype: object
1
tract:  613100.0
median_hh_income:  759    75000
Name: B19013_001E, dtype: object
1
tract:  613300.0
median_hh_income:  760    79375
Name: B19013_001E, dtype: object
1
tract:  613100.0
median_hh_income:  759    75000
Name: B19013_001E, dtype: object
1
tract:  315200.0
median_hh_income:  1008    95679
Name: B19013_001E, dtype: object
1
tract:  315402.0
median_hh_income:  571    121042
Name: B19013_001E, dtype: object
1
tract:  315401.0
median_hh_income:  570    77679
Name: B19013_001E, dtype: object
1
tract:  315200.0
median_hh_income:  1008    95679
Name: B19013_001E, dtype: object
1
tract:  315200.0
median_hh_income:  1008    95679
Name: B19013_001E, dtype: object
1
tract:  315402.0
median_hh_income:  571    121042
Name: B19013_001E, dtype: object
1
tract:  315402.0
median_hh_income:  571    121042
Name: B19013_001E, dtype: object
1
tract:  315402.0
median_hh_income:  571    121042
Name: B19013_001E, dtype: object
1
tract:  315100.0
median_hh_income:  377    107984
Name: B19013_001E, dtype: object
1
tract:  315200.0
median_hh_income:  1008    95679
Name: B19013_001E, dtype: object
1
tract:  315200.0
median_hh_income:  1008    95679
Name: B19013_001E, dtype: object
1
tract:  315100.0
median_hh_income:  377    107984
Name: B19013_001E, dtype: object
1
tract:  315401.0
median_hh_income:  570    77679
Name: B19013_001E, dtype: object
1
tract:  315200.0
median_hh_income:  1008    95679
Name: B19013_001E, dtype: object
1
tract:  315200.0
median_hh_income:  1008    95679
Name: B19013_001E, dtype: object
1
tract:  315402.0
median_hh_income:  571    121042
Name: B19013_001E, dtype: object
1
tract:  315402.0
median_hh_income:  571    121042
Name: B19013_001E, dtype: object
1
tract:  313101.0

median_hh_income:  479    116331
Name: B19013_001E, dtype: object
1
tract:  313101.0
median_hh_income:  479    116331
Name: B19013_001E, dtype: object
1
tract:  313102.0
median_hh_income:  994    105333
Name: B19013_001E, dtype: object
1
tract:  313102.0
median_hh_income:  994    105333
Name: B19013_001E, dtype: object
1
tract:  313102.0
median_hh_income:  994    105333
Name: B19013_001E, dtype: object
1
tract:  313102.0
median_hh_income:  994    105333
Name: B19013_001E, dtype: object
1
tract:  313101.0
median_hh_income:  479    116331
Name: B19013_001E, dtype: object
1
tract:  313101.0
median_hh_income:  479    116331
Name: B19013_001E, dtype: object
1
tract:  313102.0
median_hh_income:  994    105333
Name: B19013_001E, dtype: object
1
tract:  335301.0
median_hh_income:  1083    84863
Name: B19013_001E, dtype: object
1
tract:  368200.0
median_hh_income:  723    112750
Name: B19013_001E, dtype: object
1
tract:  369100.0
median_hh_income:  136    107500
Name: B19013_001E, dtype: object
1
tract:  369100.0
median_hh_income:  136    107500
Name: B19013_001E, dtype: object
1
tract:  368901.0
median_hh_income:  724    80313
Name: B19013_001E, dtype: object
1
tract:  369000.0
median_hh_income:  144    90368
Name: B19013_001E, dtype: object
1
tract:  369100.0
median_hh_income:  136    107500
Name: B19013_001E, dtype: object
1
tract:  357700.0
median_hh_income:  132    73005
Name: B19013_001E, dtype: object
1
tract:  369000.0
median_hh_income:  144    90368
Name: B19013_001E, dtype: object
1
tract:  412300.0
median_hh_income:  815    155987
Name: B19013_001E, dtype: object
1
tract:  521101.0
median_hh_income:  432    91273
Name: B19013_001E, dtype: object
1
tract:  521202.0
median_hh_income:  444    91250
Name: B19013_001E, dtype: object
1
tract:  521101.0
median_hh_income:  432    91273
Name: B19013_001E, dtype: object
1
tract:  180301.0
median_hh_income:  1399    91625
Name: B19013_001E, dtype: object
1
tract:  180101.0
median_hh_income:  1398    43125
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  441203.0
median_hh_income:  1138    96667
Name: B19013_001E, dtype: object
1
tract:  254302.0
median_hh_income:  457    173194
Name: B19013_001E, dtype: object
1
tract:  254302.0
median_hh_income:  457    173194
Name: B19013_001E, dtype: object
1
tract:  254403.0
median_hh_income:  339    171955
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254302.0
median_hh_income:  457    173194
Name: B19013_001E, dtype: object
1
tract:  254100.0
median_hh_income:  250    121182
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254100.0
median_hh_income:  250    121182
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254302.0
median_hh_income:  457    173194
Name: B19013_001E, dtype: object
1
tract:  254301.0
median_hh_income:  278    181130
Name: B19013_001E, dtype: object
1
tract:  254302.0
median_hh_income:  457    173194
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254302.0
median_hh_income:  457    173194
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254100.0
median_hh_income:  250    121182
Name: B19013_001E, dtype: object
1
tract:  254200.0
median_hh_income:  181    81644
Name: B19013_001E, dtype: object
1
tract:  254402.0
median_hh_income:  458    170756
Name: B19013_001E, dtype: object
1
tract:  254402.0
median_hh_income:  458    170756
Name: B19013_001E, dtype: object
1
tract:  254403.0
median_hh_income:  339    171955
Name: B19013_001E, dtype: object
1
tract:  332400.0
median_hh_income:  147    93136
Name: B19013_001E, dtype: object
1
tract:  332400.0
median_hh_income:  147    93136
Name: B19013_001E, dtype: object
1
tract:  332200.0
median_hh_income:  705    101828
Name: B19013_001E, dtype: object
1
tract:  332200.0
median_hh_income:  705    101828
Name: B19013_001E, dtype: object
1
tract:  332200.0
median_hh_income:  705    101828
Name: B19013_001E, dtype: object
1
tract:  332200.0
median_hh_income:  705    101828
Name: B19013_001E, dtype: object
1
tract:  332100.0
median_hh_income:  1011    135436
Name: B19013_001E, dtype: object
1
tract:  332100.0
median_hh_income:  1011    135436
Name: B19013_001E, dtype: object
1
tract:  361100.0
median_hh_income:  531    144825
Name: B19013_001E, dtype: object
1
tract:  361100.0
median_hh_income:  531    144825
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361100.0
median_hh_income:  531    144825
Name: B19013_001E, dtype: object
1
tract:  361100.0
median_hh_income:  531    144825
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361100.0
median_hh_income:  531    144825
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361100.0
median_hh_income:  531    144825
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361100.0
median_hh_income:  531    144825
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  361200.0
median_hh_income:  394    121364
Name: B19013_001E, dtype: object
1
tract:  361300.0
median_hh_income:  532    159917
Name: B19013_001E, dtype: object
1
tract:  328100.0
median_hh_income:  700    131250
Name: B19013_001E, dtype: object
1
tract:  328100.0
median_hh_income:  700    131250
Name: B19013_001E, dtype: object
1
tract:  761400.0
median_hh_income:  1440    148625
Name: B19013_001E, dtype: object
1
tract:  761400.0
median_hh_income:  1440    148625
Name: B19013_001E, dtype: object
1
tract:  387202.0
median_hh_income:  1230    147396
Name: B19013_001E, dtype: object
1
tract:  387100.0
median_hh_income:  138    123245
Name: B19013_001E, dtype: object
1
tract:  387100.0
median_hh_income:  138    123245
Name: B19013_001E, dtype: object
1
tract:  387100.0
median_hh_income:  138    123245
Name: B19013_001E, dtype: object
1
tract:  387201.0
median_hh_income:  527    117009
Name: B19013_001E, dtype: object
1
tract:  387201.0
median_hh_income:  527    117009
Name: B19013_001E, dtype: object
1
tract:  387202.0
median_hh_income:  1230    147396
Name: B19013_001E, dtype: object
1
tract:  387202.0

median_hh_income:  1230    147396
Name: B19013_001E, dtype: object
1
tract:  500101.0
median_hh_income:  899    97151
Name: B19013_001E, dtype: object
1
tract:  500101.0
median_hh_income:  899    97151
Name: B19013_001E, dtype: object
1
tract:  500101.0
median_hh_income:  899    97151
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500104.0
median_hh_income:  1147    85081
Name: B19013_001E, dtype: object
1
tract:  500103.0
median_hh_income:  1146    71193
Name: B19013_001E, dtype: object
1
tract:  500101.0
median_hh_income:  899    97151
Name: B19013_001E, dtype: object
1
tract:  748100.0
median_hh_income:  678    78704
Name: B19013_001E, dtype: object
1
tract:  748100.0
median_hh_income:  678    78704
Name: B19013_001E, dtype: object
1
tract:  748100.0
median_hh_income:  678    78704
Name: B19013_001E, dtype: object
1
tract:  748100.0
median_hh_income:  678    78704
Name: B19013_001E, dtype: object
1
tract:  611101.0
median_hh_income:  1467    115521
Name: B19013_001E, dtype: object
1
tract:  611102.0
median_hh_income:  1468    108177
Name: B19013_001E, dtype: object
1
tract:  611102.0
median_hh_income:  1468    108177
Name: B19013_001E, dtype: object
1
tract:  611102.0
median_hh_income:  1468    108177
Name: B19013_001E, dtype: object
1
tract:  611101.0
median_hh_income:  1467    115521
Name: B19013_001E, dtype: object
1
tract:  611101.0
median_hh_income:  1467    115521
Name: B19013_001E, dtype: object
1
tract:  611101.0
median_hh_income:  1467    115521
Name: B19013_001E, dtype: object
1
tract:  611101.0
median_hh_income:  1467    115521
Name: B19013_001E, dtype: object
1
tract:  611101.0
median_hh_income:  1467    115521
Name: B19013_001E, dtype: object
1
tract:  611102.0
median_hh_income:  1468    108177
Name: B19013_001E, dtype: object
1
tract:  413100.0
median_hh_income:  887    92260
Name: B19013_001E, dtype: object
1
tract:  413100.0
median_hh_income:  887    92260
Name: B19013_001E, dtype: object
1
tract:  413200.0
median_hh_income:  884    71250
Name: B19013_001E, dtype: object
1
tract:  413300.0
median_hh_income:  888    112835
Name: B19013_001E, dtype: object
1
tract:  413401.0
median_hh_income:  1128    88030
Name: B19013_001E, dtype: object
1
tract:  413100.0
median_hh_income:  887    92260
Name: B19013_001E, dtype: object
1
tract:  413200.0
median_hh_income:  884    71250
Name: B19013_001E, dtype: object
1
tract:  413200.0
median_hh_income:  884    71250
Name: B19013_001E, dtype: object
1
tract:  456102.0
median_hh_income:  823    68163
Name: B19013_001E, dtype: object
1
tract:  456102.0
median_hh_income:  823    68163
Name: B19013_001E, dtype: object
1
tract:  456102.0
median_hh_income:  823    68163
Name: B19013_001E, dtype: object
1
tract:  456200.0
median_hh_income:  1249    87712
Name: B19013_001E, dtype: object
1
tract:  456302.0
median_hh_income:  1143    59764
Name: B19013_001E, dtype: object
1
tract:  456401.0
median_hh_income:  927    77014
Name: B19013_001E, dtype: object
1
tract:  456102.0
median_hh_income:  823    68163
Name: B19013_001E, dtype: object
1
tract:  456101.0
median_hh_income:  941    110848
Name: B19013_001E, dtype: object
1
tract:  456200.0
median_hh_income:  1249    87712
Name: B19013_001E, dtype: object
1
tract:  456200.0
median_hh_income:  1249    87712
Name: B19013_001E, dtype: object
1
tract:  456302.0
median_hh_income:  1143    59764
Name: B19013_001E, dtype: object
1
tract:  456102.0
median_hh_income:  823    68163
Name: B19013_001E, dtype: object
1
tract:  456401.0
median_hh_income:  927    77014
Name: B19013_001E, dtype: object
1
tract:  456102.0
median_hh_income:  823    68163
Name: B19013_001E, dtype: object
1
tract:  456402.0
median_hh_income:  931    112949
Name: B19013_001E, dtype: object
1
tract:  456402.0
median_hh_income:  931    112949
Name: B19013_001E, dtype: object
1
tract:  456401.0
median_hh_income:  927    77014
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  365201.0
median_hh_income:  520    182857
Name: B19013_001E, dtype: object
1
tract:  365202.0
median_hh_income:  364    148947
Name: B19013_001E, dtype: object
1
tract:  365202.0
median_hh_income:  364    148947
Name: B19013_001E, dtype: object
1
tract:  365201.0
median_hh_income:  520    182857
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  365202.0
median_hh_income:  364    148947
Name: B19013_001E, dtype: object
1
tract:  365201.0
median_hh_income:  520    182857
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  365100.0
median_hh_income:  1207    183988
Name: B19013_001E, dtype: object
1
tract:  743100.0
median_hh_income:  52    124856
Name: B19013_001E, dtype: object
1
tract:  743100.0
median_hh_income:  52    124856
Name: B19013_001E, dtype: object
1
tract:  743100.0
median_hh_income:  52    124856
Name: B19013_001E, dtype: object
1
tract:  743100.0
median_hh_income:  52    124856
Name: B19013_001E, dtype: object
1
tract:  743100.0
median_hh_income:  52    124856
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749100.0
median_hh_income:  1277    109500
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  749200.0
median_hh_income:  53    80069
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370202.0
median_hh_income:  1112    106094
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370300.0
median_hh_income:  725    84107
Name: B19013_001E, dtype: object
1
tract:  370102.0
median_hh_income:  145    86319
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370101.0
median_hh_income:  1228    103219
Name: B19013_001E, dtype: object
1
tract:  370300.0
median_hh_income:  725    84107
Name: B19013_001E, dtype: object
1
tract:  370300.0
median_hh_income:  725    84107
Name: B19013_001E, dtype: object
1
tract:  370102.0
median_hh_income:  145    86319
Name: B19013_001E, dtype: object
1
tract:  370300.0
median_hh_income:  725    84107
Name: B19013_001E, dtype: object
1
tract:  370300.0
median_hh_income:  725    84107
Name: B19013_001E, dtype: object
1
tract:  370102.0
median_hh_income:  145    86319
Name: B19013_001E, dtype: object
1
tract:  370102.0
median_hh_income:  145    86319
Name: B19013_001E, dtype: object
1
tract:  370102.0
median_hh_income:  145    86319
Name: B19013_001E, dtype: object
1
tract:  761200.0
median_hh_income:  1438    77938
Name: B19013_001E, dtype: object
1
tract:  761200.0
median_hh_income:  1438    77938
Name: B19013_001E, dtype: object
1
tract:  761200.0
median_hh_income:  1438    77938
Name: B19013_001E, dtype: object
1
tract:  761200.0
median_hh_income:  1438    77938
Name: B19013_001E, dtype: object
1
tract:  742402.0
median_hh_income:  1431    131778
Name: B19013_001E, dtype: object
1
tract:  742402.0
median_hh_income:  1431    131778
Name: B19013_001E, dtype: object
1
tract:  761200.0
median_hh_income:  1438    77938
Name: B19013_001E, dtype: object
1
tract:  761200.0
median_hh_income:  1438    77938
Name: B19013_001E, dtype: object
1
tract:  761200.0
median_hh_income:  1438    77938
Name: B19013_001E, dtype: object
1
tract:  421100.0
median_hh_income:  1257    70288
Name: B19013_001E, dtype: object
1
tract:  421100.0
median_hh_income:  1257    70288
Name: B19013_001E, dtype: object
1
tract:  421100.0
median_hh_income:  1257    70288
Name: B19013_001E, dtype: object
1
tract:  421100.0
median_hh_income:  1257    70288
Name: B19013_001E, dtype: object
1
tract:  421200.0
median_hh_income:  1258    70431
Name: B19013_001E, dtype: object
1
tract:  421200.0
median_hh_income:  1258    70431
Name: B19013_001E, dtype: object
1
tract:  339801.0
median_hh_income:  1085    91811
Name: B19013_001E, dtype: object
1
tract:  744200.0
median_hh_income:  77    82569
Name: B19013_001E, dtype: object
1
tract:  744200.0
median_hh_income:  77    82569
Name: B19013_001E, dtype: object
1
tract:  744200.0
median_hh_income:  77    82569
Name: B19013_001E, dtype: object
1

tract:  744200.0
median_hh_income:  77    82569
Name: B19013_001E, dtype: object
1
tract:  744102.0
median_hh_income:  578    98182
Name: B19013_001E, dtype: object
1
tract:  744102.0
median_hh_income:  578    98182
Name: B19013_001E, dtype: object
1
tract:  744200.0
median_hh_income:  77    82569
Name: B19013_001E, dtype: object
1
tract:  744200.0
median_hh_income:  77    82569
Name: B19013_001E, dtype: object
1
tract:  744102.0
median_hh_income:  578    98182
Name: B19013_001E, dtype: object
1
tract:  744102.0
median_hh_income:  578    98182
Name: B19013_001E, dtype: object
1
tract:  744102.0
median_hh_income:  578    98182
Name: B19013_001E, dtype: object
1
tract:  744102.0
median_hh_income:  578    98182
Name: B19013_001E, dtype: object
1
tract:  744300.0
median_hh_income:  30    56574
Name: B19013_001E, dtype: object
1
tract:  744400.0
median_hh_income:  34    71758
Name: B19013_001E, dtype: object
1
tract:  323100.0
median_hh_income:  716    145967
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363201.0
median_hh_income:  518    152361
Name: B19013_001E, dtype: object
1
tract:  363201.0
median_hh_income:  518    152361
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363102.0
median_hh_income:  1226    113359
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  363202.0
median_hh_income:  534    140064
Name: B19013_001E, dtype: object
1
tract:  363202.0
median_hh_income:  534    140064
Name: B19013_001E, dtype: object
1
tract:  363103.0
median_hh_income:  1107    134669
Name: B19013_001E, dtype: object
1
tract:  363103.0
median_hh_income:  1107    134669
Name: B19013_001E, dtype: object
1
tract:  363103.0
median_hh_income:  1107    134669
Name: B19013_001E, dtype: object
1
tract:  363103.0
median_hh_income:  1107    134669
Name: B19013_001E, dtype: object
1
tract:  363104.0
median_hh_income:  1108    149702
Name: B19013_001E, dtype: object
1
tract:  717100.0
median_hh_income:  81    104063
Name: B19013_001E, dtype: object
1
tract:  747102.0
median_hh_income:  1433    78063
Name: B19013_001E, dtype: object
1
tract:  324101.0
median_hh_income:  1079    113581
Name: B19013_001E, dtype: object
1
tract:  324102.0
median_hh_income:  1080    124742
Name: B19013_001E, dtype: object
1
tract:  324102.0
median_hh_income:  1080    124742
Name: B19013_001E, dtype: object
1
tract:  324101.0
median_hh_income:  1079    113581
Name: B19013_001E, dtype: object
1
tract:  324101.0
median_hh_income:  1079    113581
Name: B19013_001E, dtype: object
1
tract:  324101.0
median_hh_income:  1079    113581
Name: B19013_001E, dtype: object
1
tract:  324102.0
median_hh_income:  1080    124742
Name: B19013_001E, dtype: object
1
tract:  324102.0
median_hh_income:  1080    124742
Name: B19013_001E, dtype: object
1
tract:  324102.0
median_hh_income:  1080    124742
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610204.0
median_hh_income:  1466    119063
Name: B19013_001E, dtype: object
1
tract:  610204.0
median_hh_income:  1466    119063
Name: B19013_001E, dtype: object
1
tract:  610204.0
median_hh_income:  1466    119063
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610100.0
median_hh_income:  289    89660
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  610203.0
median_hh_income:  1465    133910
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  388200.0
median_hh_income:  1121    70542
Name: B19013_001E, dtype: object
1
tract:  411100.0
median_hh_income:  943    102621
Name: B19013_001E, dtype: object
1
tract:  388100.0
median_hh_income:  528    108207
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203200.0
median_hh_income:  201    100958
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0

median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  203100.0
median_hh_income:  342    159875
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385201.0
median_hh_income:  1119    77059
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385100.0
median_hh_income:  374    131635
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  385202.0
median_hh_income:  1120    112000
Name: B19013_001E, dtype: object
1
tract:  342400.0
median_hh_income:  1235    58243
Name: B19013_001E, dtype: object
1
tract:  342400.0
median_hh_income:  1235    58243
Name: B19013_001E, dtype: object
1
tract:  342101.0
median_hh_income:  1091    46250
Name: B19013_001E, dtype: object
1
tract:  342101.0
median_hh_income:  1091    46250
Name: B19013_001E, dtype: object
1
tract:  342101.0
median_hh_income:  1091    46250
Name: B19013_001E, dtype: object
1
tract:  342102.0
median_hh_income:  1092    47026
Name: B19013_001E, dtype: object
1
tract:  342102.0
median_hh_income:  1092    47026
Name: B19013_001E, dtype: object
1
tract:  342102.0
median_hh_income:  1092    47026
Name: B19013_001E, dtype: object
1
tract:  508102.0
median_hh_income:  447    95893
Name: B19013_001E, dtype: object
1
tract:  508102.0
median_hh_income:  447    95893
Name: B19013_001E, dtype: object
1
tract:  508101.0
median_hh_income:  911    105000
Name: B19013_001E, dtype: object
1
tract:  508200.0
median_hh_income:  161    106337
Name: B19013_001E, dtype: object
1
tract:  508101.0
median_hh_income:  911    105000
Name: B19013_001E, dtype: object
1
tract:  508102.0
median_hh_income:  447    95893
Name: B19013_001E, dtype: object
1
tract:  508200.0
median_hh_income:  161    106337
Name: B19013_001E, dtype: object
1
tract:  508200.0
median_hh_income:  161    106337
Name: B19013_001E, dtype: object
1
tract:  508200.0
median_hh_income:  161    106337
Name: B19013_001E, dtype: object
1
tract:  561200.0
median_hh_income:  1161    28750
Name: B19013_001E, dtype: object
1
tract:  525203.0
median_hh_income:  1150    70956
Name: B19013_001E, dtype: object
1
tract:  525101.0
median_hh_income:  1379    76642
Name: B19013_001E, dtype: object
1
tract:  525101.0
median_hh_income:  1379    76642
Name: B19013_001E, dtype: object
1
tract:  525104.0
median_hh_income:  1149    116140
Name: B19013_001E, dtype: object
1
tract:  525104.0
median_hh_income:  1149    116140
Name: B19013_001E, dtype: object
1
tract:  525104.0
median_hh_income:  1149    116140
Name: B19013_001E, dtype: object
1
tract:  525104.0
median_hh_income:  1149    116140
Name: B19013_001E, dtype: object
1
tract:  561200.0
median_hh_income:  1161    28750
Name: B19013_001E, dtype: object
1
tract:  561200.0
median_hh_income:  1161    28750
Name: B19013_001E, dtype: object
1
tract:  561200.0
median_hh_income:  1161    28750
Name: B19013_001E, dtype: object
1
tract:  561200.0
median_hh_income:  1161    28750
Name: B19013_001E, dtype: object
1
tract:  525104.0
median_hh_income:  1149    116140
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525101.0
median_hh_income:  1379    76642
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525101.0
median_hh_income:  1379    76642
Name: B19013_001E, dtype: object
1
tract:  525203.0
median_hh_income:  1150    70956
Name: B19013_001E, dtype: object
1
tract:  525101.0
median_hh_income:  1379    76642
Name: B19013_001E, dtype: object
1
tract:  561200.0
median_hh_income:  1161    28750
Name: B19013_001E, dtype: object
1
tract:  561200.0
median_hh_income:  1161    28750
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  525300.0
median_hh_income:  1380    -666666666
Name: B19013_001E, dtype: object
1
tract:  211100.0
median_hh_income:  283    82070
Name: B19013_001E, dtype: object
1
tract:  211100.0
median_hh_income:  283    82070
Name: B19013_001E, dtype: object
1
tract:  211402.0
median_hh_income:  1035    103827
Name: B19013_001E, dtype: object
1
tract:  211100.0
median_hh_income:  283    82070
Name: B19013_001E, dtype: object
1
tract:  211200.0
median_hh_income:  840    72571
Name: B19013_001E, dtype: object
1
tract:  211100.0
median_hh_income:  283    82070
Name: B19013_001E, dtype: object
1
tract:  211200.0
median_hh_income:  840    72571
Name: B19013_001E, dtype: object
1
tract:  211402.0
median_hh_income:  1035    103827
Name: B19013_001E, dtype: object
1
tract:  211402.0
median_hh_income:  1035    103827
Name: B19013_001E, dtype: object
1
tract:  211402.0
median_hh_income:  1035    103827
Name: B19013_001E, dtype: object
1
tract:  211200.0
median_hh_income:  840    72571
Name: B19013_001E, dtype: object
1
tract:  211200.0
median_hh_income:  840    72571
Name: B19013_001E, dtype: object
1
tract:  211100.0
median_hh_income:  283    82070
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211300.0
median_hh_income:  262    90818
Name: B19013_001E, dtype: object
1
tract:  211300.0
median_hh_income:  262    90818
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0

median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211300.0
median_hh_income:  262    90818
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211401.0
median_hh_income:  1034    83108
Name: B19013_001E, dtype: object
1
tract:  211402.0
median_hh_income:  1035    103827
Name: B19013_001E, dtype: object
1
tract:  211200.0
median_hh_income:  840    72571
Name: B19013_001E, dtype: object
1
tract:  314102.0
median_hh_income:  1007    81219
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314301.0
median_hh_income:  995    95125
Name: B19013_001E, dtype: object
1
tract:  314102.0
median_hh_income:  1007    81219
Name: B19013_001E, dtype: object
1
tract:  314102.0
median_hh_income:  1007    81219
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314200.0
median_hh_income:  1315    71235
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314102.0
median_hh_income:  1007    81219
Name: B19013_001E, dtype: object
1
tract:  314200.0
median_hh_income:  1315    71235
Name: B19013_001E, dtype: object
1
tract:  314102.0
median_hh_income:  1007    81219
Name: B19013_001E, dtype: object
1
tract:  314200.0
median_hh_income:  1315    71235
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314200.0
median_hh_income:  1315    71235
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314200.0
median_hh_income:  1315    71235
Name: B19013_001E, dtype: object
1
tract:  314200.0
median_hh_income:  1315    71235
Name: B19013_001E, dtype: object
1
tract:  314101.0
median_hh_income:  1314    91750
Name: B19013_001E, dtype: object
1
tract:  314200.0
median_hh_income:  1315    71235
Name: B19013_001E, dtype: object
1
tract:  509102.0
median_hh_income:  1145    88116
Name: B19013_001E, dtype: object
1
tract:  509102.0
median_hh_income:  1145    88116
Name: B19013_001E, dtype: object
1
tract:  509102.0
median_hh_income:  1145    88116
Name: B19013_001E, dtype: object
1
tract:  509101.0
median_hh_income:  1148    119542
Name: B19013_001E, dtype: object
1
tract:  509101.0
median_hh_income:  1148    119542
Name: B19013_001E, dtype: object
1
tract:  509101.0
median_hh_income:  1148    119542
Name: B19013_001E, dtype: object
1
tract:  509101.0
median_hh_income:  1148    119542
Name: B19013_001E, dtype: object
1
tract:  509102.0
median_hh_income:  1145    88116
Name: B19013_001E, dtype: object
1
tract:  416102.0
median_hh_income:  1131    127946
Name: B19013_001E, dtype: object
1
tract:  416200.0
median_hh_income:  936    107333
Name: B19013_001E, dtype: object
1
tract:  416200.0
median_hh_income:  936    107333
Name: B19013_001E, dtype: object
1
tract:  416200.0
median_hh_income:  936    107333
Name: B19013_001E, dtype: object
1
tract:  416200.0
median_hh_income:  936    107333
Name: B19013_001E, dtype: object
1
tract:  416200.0
median_hh_income:  936    107333
Name: B19013_001E, dtype: object
1
tract:  416300.0
median_hh_income:  891    142731
Name: B19013_001E, dtype: object
1
tract:  416300.0
median_hh_income:  891    142731
Name: B19013_001E, dtype: object
1
tract:  416101.0
median_hh_income:  1130    147422
Name: B19013_001E, dtype: object
1
tract:  416400.0
median_hh_income:  892    124961
Name: B19013_001E, dtype: object
1
tract:  420302.0
median_hh_income:  809    74141
Name: B19013_001E, dtype: object
1
tract:  420100.0
median_hh_income:  950    82632
Name: B19013_001E, dtype: object
1
tract:  420100.0
median_hh_income:  950    82632
Name: B19013_001E, dtype: object
1
tract:  420201.0
median_hh_income:  929    79265
Name: B19013_001E, dtype: object
1
tract:  202102.0
median_hh_income:  1031    84107
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511600.0
median_hh_income:  1368    44451
Name: B19013_001E, dtype: object
1
tract:  511500.0
median_hh_income:  917    51947
Name: B19013_001E, dtype: object
1
tract:  511500.0
median_hh_income:  917    51947
Name: B19013_001E, dtype: object
1
tract:  511500.0
median_hh_income:  917    51947
Name: B19013_001E, dtype: object
1
tract:  511500.0
median_hh_income:  917    51947
Name: B19013_001E, dtype: object
1
tract:  511500.0
median_hh_income:  917    51947
Name: B19013_001E, dtype: object
1
tract:  511400.0
median_hh_income:  430    50088
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  511200.0
median_hh_income:  1367    48816
Name: B19013_001E, dtype: object
1
tract:  510800.0
median_hh_income:  441    54034
Name: B19013_001E, dtype: object
1
tract:  510800.0
median_hh_income:  441    54034
Name: B19013_001E, dtype: object
1
tract:  510800.0
median_hh_income:  441    54034
Name: B19013_001E, dtype: object
1
tract:  511500.0
median_hh_income:  917    51947
Name: B19013_001E, dtype: object
1
tract:  511200.0
median_hh_income:  1367    48816
Name: B19013_001E, dtype: object
1
tract:  510800.0
median_hh_income:  441    54034
Name: B19013_001E, dtype: object
1
tract:  510800.0
median_hh_income:  441    54034
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510800.0
median_hh_income:  441    54034
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510800.0
median_hh_income:  441    54034
Name: B19013_001E, dtype: object
1
tract:  510700.0
median_hh_income:  1365    53611
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510900.0
median_hh_income:  916    15587
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510502.0
median_hh_income:  922    30553
Name: B19013_001E, dtype: object
1
tract:  510502.0
median_hh_income:  922    30553
Name: B19013_001E, dtype: object
1
tract:  510502.0
median_hh_income:  922    30553
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510502.0
median_hh_income:  922    30553
Name: B19013_001E, dtype: object
1
tract:  510400.0
median_hh_income:  429    36671
Name: B19013_001E, dtype: object
1
tract:  510300.0
median_hh_income:  921    50762
Name: B19013_001E, dtype: object
1
tract:  510300.0
median_hh_income:  921    50762
Name: B19013_001E, dtype: object
1
tract:  510300.0
median_hh_income:  921    50762
Name: B19013_001E, dtype: object
1
tract:  510501.0
median_hh_income:  1366    54493
Name: B19013_001E, dtype: object
1
tract:  510501.0
median_hh_income:  1366    54493
Name: B19013_001E, dtype: object
1
tract:  511400.0
median_hh_income:  430    50088
Name: B19013_001E, dtype: object
1
tract:  511400.0
median_hh_income:  430    50088
Name: B19013_001E, dtype: object
1
tract:  511400.0
median_hh_income:  430    50088
Name: B19013_001E, dtype: object
1
tract:  265102.0
median_hh_income:  200    141034
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265102.0
median_hh_income:  200    141034
Name: B19013_001E, dtype: object
1
tract:  265102.0
median_hh_income:  200    141034
Name: B19013_001E, dtype: object
1
tract:  265102.0
median_hh_income:  200    141034
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  265102.0
median_hh_income:  200    141034
Name: B19013_001E, dtype: object
1
tract:  265102.0
median_hh_income:  200    141034
Name: B19013_001E, dtype: object
1
tract:  265101.0
median_hh_income:  851    108750
Name: B19013_001E, dtype: object
1
tract:  522102.0
median_hh_income:  1376    97340
Name: B19013_001E, dtype: object
1
tract:  522102.0
median_hh_income:  1376    97340
Name: B19013_001E, dtype: object
1
tract:  522102.0
median_hh_income:  1376    97340
Name: B19013_001E, dtype: object
1
tract:  522101.0
median_hh_income:  439    102037
Name: B19013_001E, dtype: object
1
tract:  522102.0
median_hh_income:  1376    97340
Name: B19013_001E, dtype: object
1
tract:  522102.0
median_hh_income:  1376    97340
Name: B19013_001E, dtype: object
1
tract:  262100.0
median_hh_income:  341    83508
Name: B19013_001E, dtype: object
1
tract:  252502.0
median_hh_income:  456    72647
Name: B19013_001E, dtype: object
1
tract:  252400.0
median_hh_income:  860    44861

Name: B19013_001E, dtype: object
1
tract:  252502.0
median_hh_income:  456    72647
Name: B19013_001E, dtype: object
1
tract:  252300.0
median_hh_income:  178    67002
Name: B19013_001E, dtype: object
1
tract:  252601.0
median_hh_income:  179    65933
Name: B19013_001E, dtype: object
1
tract:  252300.0
median_hh_income:  178    67002
Name: B19013_001E, dtype: object
1
tract:  252102.0
median_hh_income:  862    115099
Name: B19013_001E, dtype: object
1
tract:  252300.0
median_hh_income:  178    67002
Name: B19013_001E, dtype: object
1
tract:  252101.0
median_hh_income:  249    66331
Name: B19013_001E, dtype: object
1
tract:  252300.0
median_hh_income:  178    67002
Name: B19013_001E, dtype: object
1
tract:  252102.0
median_hh_income:  862    115099
Name: B19013_001E, dtype: object
1
tract:  269100.0
median_hh_income:  185    93000
Name: B19013_001E, dtype: object
1
tract:  269100.0
median_hh_income:  185    93000
Name: B19013_001E, dtype: object
1
tract:  269100.0
median_hh_income:  185    93000
Name: B19013_001E, dtype: object
1
tract:  269100.0
median_hh_income:  185    93000
Name: B19013_001E, dtype: object
1
tract:  269100.0
median_hh_income:  185    93000
Name: B19013_001E, dtype: object
1
tract:  269100.0
median_hh_income:  185    93000
Name: B19013_001E, dtype: object
1
tract:  269100.0
median_hh_income:  185    93000
Name: B19013_001E, dtype: object
1
tract:  750200.0
median_hh_income:  594    93250
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  750300.0
median_hh_income:  55    59286
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  270100.0
median_hh_income:  277    114063
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267102.0
median_hh_income:  275    88693
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267102.0
median_hh_income:  275    88693
Name: B19013_001E, dtype: object
1
tract:  267101.0
median_hh_income:  274    73750
Name: B19013_001E, dtype: object
1
tract:  267102.0
median_hh_income:  275    88693
Name: B19013_001E, dtype: object
1
tract:  318400.0
median_hh_income:  154    141932
Name: B19013_001E, dtype: object
1
tract:  318400.0
median_hh_income:  154    141932
Name: B19013_001E, dtype: object
1
tract:  318400.0
median_hh_income:  154    141932
Name: B19013_001E, dtype: object
1
tract:  318400.0
median_hh_income:  154    141932
Name: B19013_001E, dtype: object
1
tract:  318400.0
median_hh_income:  154    141932
Name: B19013_001E, dtype: object
1
tract:  318400.0
median_hh_income:  154    141932
Name: B19013_001E, dtype: object
1
tract:  318300.0
median_hh_income:  379    165461
Name: B19013_001E, dtype: object
1
tract:  318100.0
median_hh_income:  574    130263
Name: B19013_001E, dtype: object
1
tract:  318100.0
median_hh_income:  574    130263
Name: B19013_001E, dtype: object
1
tract:  318200.0
median_hh_income:  575    128214
Name: B19013_001E, dtype: object
1
tract:  318200.0
median_hh_income:  575    128214
Name: B19013_001E, dtype: object
1
tract:  318200.0
median_hh_income:  575    128214
Name: B19013_001E, dtype: object
1
tract:  318200.0
median_hh_income:  575    128214
Name: B19013_001E, dtype: object
1
tract:  318200.0
median_hh_income:  575    128214
Name: B19013_001E, dtype: object
1
tract:  318200.0
median_hh_income:  575    128214
Name: B19013_001E, dtype: object
1
tract:  318300.0
median_hh_income:  379    165461
Name: B19013_001E, dtype: object
1
tract:  318300.0
median_hh_income:  379    165461
Name: B19013_001E, dtype: object
1
tract:  318200.0
median_hh_income:  575    128214
Name: B19013_001E, dtype: object
1
tract:  318300.0
median_hh_income:  379    165461
Name: B19013_001E, dtype: object
1
tract:  331102.0
median_hh_income:  1010    110052
Name: B19013_001E, dtype: object
1
tract:  331102.0
median_hh_income:  1010    110052
Name: B19013_001E, dtype: object
1
tract:  331102.0
median_hh_income:  1010    110052
Name: B19013_001E, dtype: object
1
tract:  331102.0
median_hh_income:  1010    110052
Name: B19013_001E, dtype: object
1
tract:  331101.0
median_hh_income:  702    113750
Name: B19013_001E, dtype: object
1
tract:  331101.0
median_hh_income:  702    113750
Name: B19013_001E, dtype: object
1
tract:  331101.0
median_hh_income:  702    113750
Name: B19013_001E, dtype: object
1
tract:  331101.0
median_hh_income:  702    113750
Name: B19013_001E, dtype: object
1
tract:  331102.0
median_hh_income:  1010    110052
Name: B19013_001E, dtype: object
1
tract:  331101.0
median_hh_income:  702    113750
Name: B19013_001E, dtype: object
1
tract:  331101.0
median_hh_income:  702    113750
Name: B19013_001E, dtype: object
1
tract:  331101.0
median_hh_income:  702    113750
Name: B19013_001E, dtype: object
1
tract:  331200.0
median_hh_income:  704    125375
Name: B19013_001E, dtype: object
1
tract:  331200.0
median_hh_income:  704    125375
Name: B19013_001E, dtype: object
1
tract:  331200.0
median_hh_income:  704    125375
Name: B19013_001E, dtype: object
1
tract:  331200.0
median_hh_income:  704    125375
Name: B19013_001E, dtype: object
1
tract:  331200.0
median_hh_income:  704    125375
Name: B19013_001E, dtype: object
1
tract:  419400.0
median_hh_income:  808    94174
Name: B19013_001E, dtype: object
1
tract:  419200.0
median_hh_income:  653    112222
Name: B19013_001E, dtype: object
1
tract:  419500.0
median_hh_income:  937    108170
Name: B19013_001E, dtype: object
1
tract:  419200.0
median_hh_income:  653    112222
Name: B19013_001E, dtype: object
1
tract:  419800.0
median_hh_income:  1266    80434
Name: B19013_001E, dtype: object
1
tract:  419600.0
median_hh_income:  938    100827
Name: B19013_001E, dtype: object
1
tract:  419600.0
median_hh_income:  938    100827
Name: B19013_001E, dtype: object
1
tract:  401100.0
median_hh_income:  880    167361
Name: B19013_001E, dtype: object
1
tract:  400700.0
median_hh_income:  646    148333
Name: B19013_001E, dtype: object
1
tract:  384001.0
median_hh_income:  1117    108281
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  383800.0
median_hh_income:  373    119747
Name: B19013_001E, dtype: object
1
tract:  503101.0
median_hh_income:  393    122391
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501101.0
median_hh_income:  900    141375
Name: B19013_001E, dtype: object
1
tract:  501101.0
median_hh_income:  900    141375
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501101.0
median_hh_income:  900    141375
Name: B19013_001E, dtype: object
1
tract:  501102.0
median_hh_income:  905    141902
Name: B19013_001E, dtype: object
1
tract:  501101.0
median_hh_income:  900    141375
Name: B19013_001E, dtype: object
1
tract:  501201.0
median_hh_income:  390    153259
Name: B19013_001E, dtype: object
1
tract:  501202.0
median_hh_income:  391    106546
Name: B19013_001E, dtype: object
1
tract:  501202.0
median_hh_income:  391    106546
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223200.0
median_hh_income:  452    69079
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223200.0
median_hh_income:  452    69079
Name: B19013_001E, dtype: object
1
tract:  223300.0

median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223200.0
median_hh_income:  452    69079
Name: B19013_001E, dtype: object
1
tract:  223200.0
median_hh_income:  452    69079
Name: B19013_001E, dtype: object
1
tract:  223200.0
median_hh_income:  452    69079
Name: B19013_001E, dtype: object
1
tract:  223200.0
median_hh_income:  452    69079
Name: B19013_001E, dtype: object
1
tract:  223200.0
median_hh_income:  452    69079
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  223300.0
median_hh_income:  858    108116
Name: B19013_001E, dtype: object
1
tract:  223100.0
median_hh_income:  211    75172
Name: B19013_001E, dtype: object
1
tract:  506101.0
median_hh_income:  907    122409
Name: B19013_001E, dtype: object
1
tract:  506102.0
median_hh_income:  428    83824
Name: B19013_001E, dtype: object
1
tract:  406101.0
median_hh_income:  1254    142837
Name: B19013_001E, dtype: object
1
tract:  408101.0
median_hh_income:  661    136741
Name: B19013_001E, dtype: object
1
tract:  408102.0
median_hh_income:  668    105163
Name: B19013_001E, dtype: object
1
tract:  408102.0
median_hh_income:  668    105163
Name: B19013_001E, dtype: object
1
tract:  408102.0
median_hh_income:  668    105163
Name: B19013_001E, dtype: object
1
tract:  367200.0
median_hh_income:  1208    157923
Name: B19013_001E, dtype: object
1

In [51]:
land_parcel_df.loc[land_parcel_df['median_hh_income'].notna(), 'median_hh_income']

5        89978.0
7        89978.0
8        70063.0
9        70063.0
10       70063.0
          ...
7369    136741.0
7370    105163.0
7372    105163.0
7373    105163.0
7695    157923.0
Name: median_hh_income, Length: 1416, dtype: float64

In [52]:
land_parcel_df.to_csv('state_land_plus_med_income.csv',index=False)